@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

body {
    padding: 0 15%;
    font-size: 15px;
    font-family: Raleway-Medium;
    background-color: #107D79;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway-Bold;
}

.container-fluid.main-container{
    background-color: white;
    padding: 0;
    height: 105%;
}

.page-header {
    padding-top: 9px;
    text-align: center;
    margin: 0;
    border-bottom: none;
}

.row {
  margin: 0 0;
}

#logo {
    max-width: 85%;
}

.navbar-default {
    background-color: #92938C;
    font-family: Raleway-Bold;
    font-weight: 200;
    line-height: 95px;
    font-size: 18px;
    border-radius: 0px;
    border-color: #92938C;
}

.navbar-default .container-fluid {
    padding: 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-collapse {
    padding: 0;
}

.equal .header-link {
    padding: 0;
    width: 20%;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #DFE592;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    color: #58C1BB;
}

.image {
    padding: 3% 0;
    text-align: center;
}

.photo {
    border-radius: 10px;
    width: 100%;
}

.building-name {
    text-align: center;
    margin-top: 0px;
}

.list-header,
.list-header:hover {
  width: 100%;
  margin: 0 0 3%;
  cursor: default;
  font-family: Raleway-Bold;
  background-color: #92938C;
  border-color: #92938C;
  color: #DFE592;
}

th {
  text-align: center;
}

#articulation {
    width: 100%;
    height: 202px;
    background: no-repeat url(../imgs/articulation.png) 0 0;
}

#articulation:hover {
    cursor: pointer;
    width: 100%;
    height: 202px;
    background: no-repeat url(../imgs/articulation_hover.png) 0 0;
}

#language {
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/language.png) 0 0;
}

#language:hover {
  cursor: pointer;
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/language_hover.png) 0 0;
}

#social-language {
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/social_language.png) 0 0;
}

#social-language:hover {
  cursor: pointer;
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/social_language_hover.png) 0 0;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 2%;
  }

  .navbar-nav {
    margin: 0;
  }

  .equal .header-link {
    width: 100%;
  }

  .list-header {
    padding: 1% 0;
    white-space: normal;
  }

  #articulation-container,
  #language-container,
  #social-language-container {
    float: none!important;
  }

  #articulation,
  #language,
  #social-language {
    margin-left: 8%;
  }
}
