@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

html, body {
    height: 102%;
}

body {
    padding: 0 15%;
    font-family: PTMono;
    background-color: #107D79;
}

.container-fluid.main-container{
    background-color: white;
    padding: 0;
    height: 105%;
}

.page-header {
    padding-top: 9px;
    text-align: center;
    margin: 0;
    border-bottom: none;
}

#logo {
    max-width: 300px;
}

.navbar-default {
    background-color: #92938C;
    font-family: Raleway-Bold;
    font-weight: 200;
    line-height: 95px;
    font-size: 18px;
    border-radius: 0px;
    border-color: #92938C;
}

.navbar-default .container-fluid {
    padding: 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-collapse {
    padding: 0;
}

.equal .header-link {
    padding: 0;
    width: 20%;
}

.navbar-default .navbar-nav>li>a {
    color: #DFE592;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #DFE592;
}

.navbar-default .navbar-nav>.active>a {
    color: #097C79;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #097C79;
}

.text-block {
    padding: 3% 0;
    font-size: 15px;
}

.image {
    padding: 3% 0;
    text-align: center;
}

.photo {
    border-radius: 10px;
}

.list-group-item.active {
    font-family: Raleway-Bold;
    background-color: #92938C;
    border-color: #92938C;
    color: #DFE592;
}

.list-group-item.active:hover {
    font-family: Raleway-Bold;
    background-color: #92938C;
    border-color: #92938C;
    color: #58C1BB;
}

.contact-type {
    font-family: Raleway-Bold;
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
}

.contact-info {
    text-align: center;
}
