@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

body {
    padding: 0 15%;
    font-size: 15px;
    font-family: Raleway-Medium;
    background-color: #107D79;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway-Bold;
}

a {
  color: #107D79;
}

.container-fluid.main-container{
    background-color: white;
    padding: 0;
    height: 105%;
    margin-bottom: 50px;
}

.page-header {
    padding-top: 9px;
    text-align: center;
    margin: 0;
    border-bottom: none;
}

.row {
  margin: 0 0;
}

#logo {
    max-width: 85%;
}

#headshot {
  width: 30%;
  float: left;
  padding: 0 2%;
}

#index-intro {
  padding-right: 10%
}

.highlighted {
  font-weight: bolder;
  text-shadow: 1px 0;
  letter-spacing: 1px;
}

.text-block {
  padding: 0 2%;
  text-align: justify;
}

.underlined {
  text-decoration: underline;
}

.communication-well {
  background: #DFE592;
  margin-right: 9%;
}

.navbar-default {
    background-color: #92938C;
    font-family: Raleway-Bold;
    font-weight: 200;
    line-height: 95px;
    font-size: 18px;
    border-radius: 0px;
    border-color: #92938C;
}

.navbar-default .container-fluid {
    padding: 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-collapse {
    padding: 0;
}

.equal .header-link {
    padding: 0;
    width: 20%;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #DFE592;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    color: #58C1BB;
}

.image {
    padding: 3% 0;
    text-align: center;
}

.photo {
    border-radius: 10px;
    width: 100%;
}

.building-name {
    text-align: center;
    margin-top: 0px;
}

.list-header,
.list-header:hover {
  text-align: left;
  width: 100%;
  font-size: 16px;
  margin: 0 0 3%;
  border-radius: 10px;
  padding: 3% 3%;
  cursor: default;
  white-space: normal;
  font-family: Raleway-Bold;
  background-color: #92938C;
  border-color: #92938C;
  color: #DFE592;
}

.list-header p {
  text-align: justify;
}

.faq-link {
  color: #DFE592;
}

th {
  text-align: center;
}

#speech {
    width: 100%;
    height: 202px;
    background: no-repeat url(../imgs/speech.png) 0 0;
}

#speech:hover {
    cursor: pointer;
    width: 100%;
    height: 202px;
    background: no-repeat url(../imgs/speech_hover.png) 0 0;
}

#language {
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/language.png) 0 0;
}

#language:hover {
  cursor: pointer;
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/language_hover.png) 0 0;
}

#social-language {
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/social_language.png) 0 0;
}

#social-language:hover {
  cursor: pointer;
  width: 100%;
  height: 202px;
  background: no-repeat url(../imgs/social_language_hover.png) 0 0;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .equal .header-link {
    width: 100%;
  }

  .list-header {
    padding: 1% 0;
    white-space: normal;
  }

  #articulation-container,
  #language-container,
  #social-language-container {
    float: none!important;
  }

  #articulation-modal.modal.fade.in
  #language-modal.modal.fade.in,
  #social-language-modal.modal.fade.in {
    top: 5%;
  }

  .modal-dialog {
    margin: 0;
    width: 94%;
  }
}
